*
{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 0px;
    font-size: 20px;
}

.contenedor_formulario
{
    margin: 20px auto;
    background: rgba(110, 160, 225, 0.511);
    width: 1000px;
    height: 1100px;
    border: 10px solid black;
}

form 
{
    margin: 20px 0px 20px 20px;
}

input
{
    height: 20px;
    margin: 20px;
    width: 500px;
    border: 3px solid transparent; 
    cursor: pointer; 
    padding: 10px 5px;
}

.hora
{

    width: 150px;
}
input:hover
{
    border: 3px solid rgb(7, 97, 72);
}


.enviar
{
    background-color: #000;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 380px;
    margin-top: 40px;
    z-index: 200;
    float: right;
}

a
{
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
