

 main
 {
   display: flex;
   justify-content: center;
   align-items: center;
 }



footer
{
 height: 80px;
  width: 100%;
  background-color: rgb(33, 37, 50);
  color: white;
  text-align: center
}

.portada
{
    margin: 20px auto;
    background: rgb(166, 188, 192);
    width: 1000px;
    height: 800px;
    z-index: 2000;
    border: 10px solid black;
    text-align: center;
}

.portada img
{
    width: 300px;
    height: 200px;
}