/* 
▪ Nombre de la escuela  : UNIVERSIDAD TECNOLóGICA METROPOLITANA
▪ Asignatura : Aplicaciones Web
▪ Nombre del Maestro : Ruth Betsaida Martínez Domínguez
▪ Nombre de la actividad : Actividad 2  Identificar los elementos para la estructura de un documento HTML5.
▪ Nombre del alumno o Alumnos : Jonathan Gamaliel Catzín González
▪ Cuatrimestre : 3
▪ Grupo : B
▪ Parcial : 1
*/
*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

body
{
    width: 750px;
    height: 750px;
    margin: auto;
}

nav
{
    background-color: rgb(95, 244, 130);
    width: 750px;
    height: 50px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
nav h2
{
    display: flex;
    padding-top: 10px;
    padding-left: 350px;
}

header
{
    background-color: rgb(30, 0, 255);
    width: 750px;
    height: 250px;
    border: 10px solid black;
    
}

main
{
    background-color: rgb(255, 0, 64);
    width: 750px;
    height: 400px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.banner
{
    width: 500px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.826) ;
    float: left;
    margin: 5px 0px 0px 3px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    background-color: #ffff;
    width: 240px;
    height: 240px;
    margin: 5px 2px 25px 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article
{
    width: 450px;
    height: 380px;
    background-color: #000;
    float: left;
    margin: 10px 0px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    
}

.lado-derecho
{
    width: 280px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.826) ;
    margin: 10px 9px 10px 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer
{
    background-color: rgb(255, 242, 0);
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

