/*
▪ Nombre de la escuela  : UNIVERSIDAD TECNOLóGICA METROPOLITANA
▪ Asignatura : Aplicaciones Web
▪ Nombre del Maestro : Ruth Betsaida Martínez Domínguez
▪ Nombre de la actividad : Actividad 2  Identificar los elementos para la estructura de un documento HTML5.
▪ Nombre del alumno o Alumnos : Jonathan Gamaliel Catzín González
▪ Cuatrimestre : 3
▪ Grupo : B
▪ Parcial : 1

*/
*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

body
{
    width: 1000px;
    height: 950px;
    margin: auto;
}

nav
{
    background-color: rgb(95, 244, 130);
    width: 1000px;
    height: 100px;
    border: 10px solid black;
}

header
{
    background-color: rgb(30, 0, 255);
    width: 1000px;
    height: 300px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.box
{
    background-color: #ffff;
    width: 150px;
    height: 50px;
    float: left;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main
{
    background-color: rgb(255, 0, 64);
    width: 1000px;
    height: 500px;
    border-bottom: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.banner
{
    width: 800px;
    height: 290px;
    background-color: rgba(255, 255, 255, 0.826) ;
    float: left;
    margin: 5px 0px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    background-color: #ffff;
    width: 180px;
    height: 90px;
    margin: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login
{
    background-color: #ffff;
    width: 180px;
    height: 90px;
    margin: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form
{
    background-color: #ffff;
    width: 180px;
    height: 90px;
    margin: 5px; 
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-izquierdo
{
    width: 200px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.826) ;
    float: left;
    margin: 10px 5px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article
{
    width: 500px;
    height: 480px;
    background-color: #000;
    float: left;
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    
}

.lado-derecho
{
    width: 260px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.826) ;
    float: right;
    margin: 10px 10px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer
{
    background-color: rgb(255, 242, 0);
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}