
body {
  
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Menu {
    overflow: hidden;
    background-color: rgb(33, 37, 50);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }
  
  .Menu a {
    float: left;
    color: #f2f2f29e;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .Menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .Menu a.active {
    background-color: #aa2e04;
    color: white;
  }
