@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*
{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    padding: 0px;
}



nav
{
    height: 80px; 
}

.opciones
{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.opciones div a
{
    display: block;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: blue;
}

.opciones div
{
    display: inline-block;
}

.login
{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.login div a
{
    display: block;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: blue;
}
.login div
{
    display: inline-block;
}

.linea
{
    border-right: 5px solid black;
}


.buscador
{
    height: 470px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.contenedor
{
    margin-top: 20px;
 
}

.botones
{
    margin-top: 10px;
    margin-left: 300px;
   
}

button
{
    height: 50px;
    padding: 10px;
    margin-right: 15px;
    transform: translateY(-50px);
    font-size: 20px;
    cursor: pointer;
}

.logo
{
    font-size: 60px;
    margin-left: 300px;
}

input
{
   border-radius: 10px;
    height: 30px;
    width: 900px;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

input:hover
{
    box-shadow: 0px 3px 3px  rgba(52, 141, 243, 0.335);
}

input[type=text] {
    color: black;
    font-size: 20px;
    padding: 5px 5px;
  }

.search
{
    transform: translateX(930px) translateY(-50px);
    width: 60px;
    font-size: 20px;
}

.search a 
{
    color: blue;
}

footer
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;

}

.contener_opciones
{
    display: flex;
    justify-content: center;
    align-self: center;
    transform: translateY(-80px);
    height: 10px;
}
