*
{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 0px;
    font-size: 15px;
}


.contenedor_formulario
{
    margin: 20px auto ;
    background: rgb(166, 188, 192);
    width: 690px;
    height: 700px;
    border: 10px solid black;
}

.contenedor
{
    float: right;
}

form 
{
    float: right;
    margin: 20px 20px 20px 0px;
}

input
{
    height: 10px;
    margin: 10px;
    width: 300px;
    border: 3px solid transparent; 
    cursor: pointer;
    padding: 8px 5px;
    border-radius: 5px;
}

input:hover
{
    border: 3px solid rgb(7, 97, 72);
}

.select
{
    height: 40px;
    margin: 12px;
    width: 310px;
    border: 3px solid transparent;  
    cursor: pointer;
    border-radius: 5px;
}

.select:hover
{
    border: 3px solid rgb(7, 97, 72);
}

.enviar
{
    background-color: #000;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    margin-top: 30px;
    z-index: 200;
    float: right;
}

a
{
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.fecha
{
    margin: 10px 10px 10px 10px;
    width: 88px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
}




