*
{
    margin: 0px;
    padding: 0px;

}
html
{
    background-color: #86898a;
}
body
{
    font-family: helvetica;
}

header
{
    background-color: #000;
    color: #fff;
    padding: 20px;

}

.titulo
{
    height: 100%;
    padding: 10px;
    text-align: center;
}

footer
{
    background-color: #000;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(64px);
}

.mapa
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario
{
    padding: 20px;
}

.formulario p
{
    padding-top: 10px;
}

.informacion
{
    padding: 20px; 
}

.informacion p
{
    padding-top: 10px;
}
.informacion h2 
{
    padding-top: 10px;
}

.cont_map
{
    border: 3px solid #000 ;

}

.linea
{
    width: 500px;
    height: 3px;
    margin-bottom: 3px;
    background-color: rgb(104, 230, 104);
}